/*  */



@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
*{font-family: 'Merriweather', serif;
margin: 0px;
}

#background-img-header{
background-image: url(./resources/Banner\ Image.png);
max-width: 89%;
margin: 20px auto;
height: 570px;
border-radius: 16px;
}
.linear-gradient{
    border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
height: 570px;

}

.happy-new-year-title{
padding-top: 180px;

text-align: center;
}

/*  */
.common-h4{color:rgb(244, 238, 238);

    font-size: 32px;

    font-weight: 300;}


/*  */

.common-h1{font-weight: 900;
    font-size: 70px;
    color: rgb(248, 245, 245);
    
}
/*  */





/* main  */

/* 65% 0ff */

#red-65{
color: #F00;
/* text-align: center; */
font-size: 65px;
font-weight: 500;
margin-top: 80px;
}

#red-p{
margin:50px 0px 10px 0px;
    color: #F00;
    font-size: 18px;
    font-weight: 500;

}
#section-65  img{
    height: 400px;
    width: 500px;
}

#section-65{
    text-align: center;
    
}
.h4-65{
font-size: 33px;
font-weight: 320;

}

/* mid night party style */

#party-background-img{
background-image: url("./resources/party.png");
max-width: 89%;
margin: 80px auto;
height:550px;
border-radius: 14px;
background-repeat: no-repeat;

}
.linear-gradient2{
    background:  linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
height:550px;
}



.party-title{
    display: flex;
    justify-content: center;
    align-items: center;

}



.party-info1{
padding: 0px 59px 0px 59px;

}




.party-h1{
    color: #FFF;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2em; /* 137.5% */
    letter-spacing: 5.04px;

}

.party-p{
    color: rgba(255, 255, 255, 0.80);
font-size: 18px;
font-weight: 400;
line-height: 1.5em; /* 166.667% */
width: 80%;
}
.join-now{
margin: 60px 0px 0px 90px;
background:none;
border: none;
color: white;
font-size: 17px;

}
.party-info2{
    margin: 35px 30px 0px 0px;
}


.join-now:hover{

    color: #F00;
    border: 3px solid wheat;
}
/* place DATE TIME SECTION */



.place-date-time{
    max-width: 89%;
    margin: 100px auto;
background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);;
text-align: center;
height: 140px;
padding-top: 110px;
line-height: 2em;
border-radius: 20px ;
}

.span-red{
    color: #F00;
    
}

/* coming soon section */

.border-radius{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 85%;
    margin: 200px auto;
}


.coming-soon-radius-2024 > #img1{
    border: 5px solid red;
    border-radius: 550px;
    padding: 10px 15px 10px 15px ;
}

.coming-soon-radius-2024{

    text-align: left;
}

.for-mid-padding{
    padding: 0px 174px 0px 70px;
}

/* holidays sale 50% section */

.holidays-50-title{
text-align: center;
line-height: 1.8em;
}








/*rectangle and title section  */




.title-rectangle > .title {
width: 70%;
margin: 70px auto;
}

.rectangle-main{
    text-align: center;
}
.rectangle-line1-2{
padding-left: 19px;
height: 340px;
width: 340px;
padding-bottom: 25px;

}
.rectangle-line1-hover:hover{
padding-left: 0px;
padding-bottom: 0px;
/* border: 3px solid black; */
border-width: 3px;
border-style: solid;
color:black;
border-radius: 18px;
}

.rectangle-line2-hover:hover{
    padding-left: 0px;
    padding-bottom: 0px;
    /* border: 3px solid black; */
    border-width: 3px;
    border-style: solid;
    color:red;
    border-radius: 18px;

}

/* Subscribe Newsletter section */

.Subscribe-Newsletter{
    max-width: 80%;
    margin: 120px auto;
    height: 450px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding-top: 35px;
    line-height: 2em;
    

}

.Subscribe-Newsletter input[type="email"]{
padding: 18px;
border-radius: 20px 0px 0px 20px;
border: none;
outline: none;
padding-right: 90px;
}

#Subscribe-button{

padding:18px;
border-radius: 0px 20px 20px 0px;
background-color: red;
color: #FFF;
border: none;
}


/* header section */


#footer-section{
    background: #070211;

}



.footer-det{
    display: flex;
    color: #FFF;
    justify-content: space-around;
    text-align: left;
    padding: 100px;
    
}
.footer-font{
font-size: 21px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer-img-section{
text-align: center;
padding: 45px 0px 45px 0px;

}
#Unsubscribe-button{
background: none;
color: wheat;
border: none;


}
 .social-link{

    margin-left: 20px;
 }




